In [1]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from config import postgresPass as pw

In [2]:
# add csv files

In [3]:
csv_file0 = "data/AdventureWorks_Customers.csv"
Customers_df = pd.read_csv(csv_file0, encoding="ISO-8859_1")

In [4]:
Customers_df['BirthDate'] = pd.to_datetime(Customers_df['BirthDate'])

In [5]:
Customers_df["BirthDate"] = pd.to_datetime(Customers_df["BirthDate"]).dt.strftime('%Y-%m-%d')

In [6]:
Customers_df['AnnualIncome']=Customers_df['AnnualIncome'].str.replace('$' ,'')

C:\Users\gcwhi\AppData\Local\Temp/ipykernel_21780/1830080430.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Customers_df['AnnualIncome']=Customers_df['AnnualIncome'].str.replace('$' ,'')

In [7]:
Customers_df['AnnualIncome']=Customers_df['AnnualIncome'].str.replace(',' ,'')

In [8]:
Customers_df['AnnualIncome'] = pd.to_numeric(Customers_df['AnnualIncome'])

In [9]:
Customers_df.describe()

        CustomerKey   AnnualIncome  TotalChildren
count  18148.000000   18148.000000   18148.000000
mean   20247.470465   57269.120564       1.843619
std     5336.245656   32236.535573       1.613203
min    11000.000000   10000.000000       0.000000
25%    15626.750000   30000.000000       0.000000
50%    20252.500000   60000.000000       2.000000
75%    24868.250000   70000.000000       3.000000
max    29483.000000  170000.000000       5.000000

In [10]:
csv_file1 = "data/AdventureWorks_Calendar.csv"
Calendar_df = pd.read_csv(csv_file1)

In [11]:
Calendar_df["Date"] = pd.to_datetime(Calendar_df["Date"]).dt.strftime('%Y-%m-%d')

In [12]:
csv_file2 = "data/AdventureWorks_Product_Categories.csv"
Product_Categories_df = pd.read_csv(csv_file2)

In [13]:
csv_file3 = "data/AdventureWorks_Product_Subcategories.csv"
Product_Subcategories_df = pd.read_csv(csv_file3)

In [14]:
csv_file3 = "data/AdventureWorks_Products.csv"
Products_df = pd.read_csv(csv_file3)

In [15]:
csv_file4 = "data/AdventureWorks_Returns.csv"
Returns_df = pd.read_csv(csv_file4)

In [16]:
Returns_df["ReturnDate"] = pd.to_datetime(Returns_df["ReturnDate"]).dt.strftime('%Y-%m-%d')

In [17]:
csv_file5 = "data/AdventureWorks_Sales_2015.csv"
Sales_2015_df = pd.read_csv(csv_file5)

In [18]:
Sales_2015_df["OrderDate"] = pd.to_datetime(Sales_2015_df["OrderDate"]).dt.strftime('%Y-%m-%d')

In [19]:
Sales_2015_df["StockDate"] = pd.to_datetime(Sales_2015_df["StockDate"]).dt.strftime('%Y-%m-%d')

In [20]:
csv_file6 = "data/AdventureWorks_Sales_2016.csv"
Sales_2016_df = pd.read_csv(csv_file6)

In [21]:
Sales_2016_df["OrderDate"] = pd.to_datetime(Sales_2016_df["OrderDate"]).dt.strftime('%Y-%m-%d')

In [22]:
Sales_2016_df["StockDate"] = pd.to_datetime(Sales_2016_df["StockDate"]).dt.strftime('%Y-%m-%d')

In [23]:
csv_file7 = "data/AdventureWorks_Sales_2017.csv"
Sales_2017_df = pd.read_csv(csv_file7)

In [24]:
Sales_2017_df["OrderDate"] = pd.to_datetime(Sales_2017_df["OrderDate"]).dt.strftime('%Y-%m-%d')

In [25]:
Sales_2017_df["StockDate"] = pd.to_datetime(Sales_2017_df["StockDate"]).dt.strftime('%Y-%m-%d')

In [26]:
csv_file8 = "data/AdventureWorks_Territories.csv"
Territories_df = pd.read_csv(csv_file8)

In [27]:
# create full sales dataframe

In [28]:
sales = [Sales_2015_df, Sales_2016_df, Sales_2017_df]

In [29]:
all_sales = pd.concat(sales)

In [30]:
all_sales.rename(columns={'TerritoryKey': 'SalesTerritoryKey'},inplace=True)

In [31]:
all_sales_reset = all_sales.reset_index(drop=True)

In [32]:
# territory_sales = pd.merge(Territories_df,all_sales_reset, how="right",on='SalesTerritoryKey')

In [33]:
# product_sales = pd.merge(Products_df,territory_sales, how="right",on='ProductKey')

In [34]:
categories = pd.merge(Product_Subcategories_df,Product_Categories_df, how="left",on='ProductCategoryKey')

In [35]:
# all_products_sales_data = pd.merge(categories,product_sales, how="right",on='ProductSubcategoryKey')

In [36]:
all_sales_reset.describe()

,ProductKey,CustomerKey,SalesTerritoryKey,OrderLineItem,OrderQuantity
count,56046.000000,56046.000000,56046.000000,56046.000000,56046.000000
mean,438.962103,18843.645559,6.254666,1.903151,1.501873
std,118.612352,5412.449843,2.958005,1.021006,0.612379
min,214.000000,11000.000000,1.000000,1.000000,1.000000
25%,360.000000,14016.000000,4.000000,1.000000,1.000000
50%,479.000000,18157.000000,7.000000,2.000000,1.000000
75%,529.000000,23425.750000,9.000000,2.000000,2.000000
max,606.000000,29483.000000,10.000000,8.000000,3.000000

In [37]:
all_sales_reset.to_csv('Resources/combined_sales.csv', index = False)

In [38]:
Customers_df.to_csv('Resources/customers.csv',index = False)

In [39]:
Calendar_df.to_csv('Resources/calendar.csv',index = False)

In [40]:
Returns_df.to_csv('Resources/returns.csv',index = False)

In [41]:
Products_df.to_csv('Resources/products.csv',index = False)

In [42]:
Territories_df.to_csv('Resources/territories.csv',index = False)

In [43]:
categories.to_csv('Resources/categories.csv',index = False)

In [44]:
protocol = 'postgresql'
username = 'postgres'
password = pw
host = 'localhost'
port = 5432
database_name = 'bike_shop_new'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [45]:
engine.table_names()

C:\Users\gcwhi\AppData\Local\Temp/ipykernel_21780/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [46]:
categories.to_sql(name='categories', con=engine, if_exists='append', index=False)

In [47]:
Products_df.to_sql(name='products', con=engine, if_exists='append', index=False)

In [48]:
Territories_df.to_sql(name='territories', con=engine, if_exists='append', index=False)

In [49]:
Calendar_df.to_sql(name='calendar', con=engine, if_exists='append', index=False)

In [50]:
Customers_df.to_sql(name='customers', con=engine, if_exists='append', index=False)

In [51]:
all_sales_reset.to_sql(name='combined_sales', con=engine, if_exists='append', index=False)

In [52]:
Returns_df.to_sql(name='returns', con=engine, if_exists='append', index=False)

In [53]:
engine.table_names()

C:\Users\gcwhi\AppData\Local\Temp/ipykernel_21780/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['categories',
 'products',
 'territories',
 'calendar',
 'customers',
 'combined_sales',
 'returns']