In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from sqlalchemy import create_engine
from config import postgresPass as pw

In [2]:
protocol = 'postgresql'
username = 'postgres'
password = pw
host = 'localhost'
port = 5432
database_name = 'bike_shop_gw'
engine = create_engine(f'{protocol}://{username}:{password}@{host}:{port}/{database_name}')
   
connection = engine.connect()

In [3]:
customers = pd.read_sql('select * from customers', connection)

In [4]:
customers

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,1966-04-08,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,1965-05-14,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,1965-08-12,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,1968-02-15,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,1968-08-08,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18143,29479,MR.,TOMMY,TANG,1958-07-04,M,M,tommy2@adventure-works.com,"$30,000",1,Graduate Degree,Clerical,Y
18144,29480,MRS.,NINA,RAJI,1960-11-10,S,F,nina21@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,Y
18145,29481,MR.,IVAN,SURI,1960-01-05,S,M,ivan0@adventure-works.com,"$30,000",3,Graduate Degree,Clerical,N
18146,29482,MR.,CLAYTON,ZHANG,1959-03-05,M,M,clayton0@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y
18147,29483,MR.,JÉSUS,NAVARRO,1959-12-08,M,M,jésus9@adventure-works.com,"$30,000",0,Bachelors,Clerical,Y

In [5]:
returns = pd.read_sql('select * from returns', connection)

In [6]:
returns

      ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0     2015-01-18             9         312               1
1     2015-01-18            10         310               1
2     2015-01-21             8         346               1
3     2015-01-22             4         311               1
4     2015-02-02             6         312               1
...          ...           ...         ...             ...
1804  2017-06-30             6         491               1
1805  2017-06-30             8         477               1
1806  2017-06-30             9         477               1
1807  2017-06-30            10         223               1
1808  2017-06-30            10         477               1

[1809 rows x 4 columns]

In [7]:
calendar = pd.read_sql('select * from calendar', connection)

In [8]:
calendar

           Date
0    2015-01-01
1    2015-01-02
2    2015-01-03
3    2015-01-04
4    2015-01-05
..          ...
907  2017-06-26
908  2017-06-27
909  2017-06-28
910  2017-06-29
911  2017-06-30

[912 rows x 1 columns]

In [9]:
just_sales = pd.read_sql('select * from combined_product_sales', connection)

In [10]:
just_sales

,ProductSubcategoryKey,SubcategoryName,ProductCategoryKey,CategoryName,ProductKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,...,SalesTerritoryKey,Region,Country,Continent,OrderDate,StockDate,OrderNumber,CustomerKey,OrderLineItem,OrderQuantity
0,2,Road Bikes,1,Bikes,332,BK-R50B-58,"Road-650 Black, 58",Road-650,Value-priced bike with many features of our to...,Black,...,1,Northwest,United States,North America,2015-01-01,2001-09-21,SO45080,14657,1,1
1,2,Road Bikes,1,Bikes,312,BK-R93R-48,"Road-150 Red, 48",Road-150,This bike is ridden by race winners. Developed...,Red,...,4,Southwest,United States,North America,2015-01-01,2001-12-05,SO45079,29255,1,1
2,1,Mountain Bikes,1,Bikes,350,BK-M82B-44,"Mountain-100 Black, 44",Mountain-100,Top-of-the-line competition mountain bike. Per...,Black,...,9,Australia,Australia,Pacific,2015-01-01,2001-10-29,SO45082,11455,1,1
3,2,Road Bikes,1,Bikes,338,BK-R50B-44,"Road-650 Black, 44",Road-650,Value-priced bike with many features of our to...,Black,...,6,Canada,Canada,North America,2015-01-01,2001-11-16,SO45081,26782,1,1
4,2,Road Bikes,1,Bikes,312,BK-R93R-48,"Road-150 Red, 48",Road-150,This bike is ridden by race winners. Developed...,Red,...,10,United Kingdom,United Kingdom,Europe,2015-01-02,2001-12-15,SO45083,14947,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,28,Bottles and Cages,4,Accessories,477,WB-H098,Water Bottle - 30 oz.,Water Bottle,AWC logo water bottle - holds 30 oz; leak-proof.,None,...,10,United Kingdom,United Kingdom,Europe,2017-06-30,2004-03-22,SO74143,28517,3,2
56042,28,Bottles and Cages,4,Accessories,479,BC-R205,Road Bottle Cage,Road Bottle Cage,Aluminum cage is lighter than our mountain ver...,None,...,10,United Kingdom,United Kingdom,Europe,2017-06-30,2004-03-15,SO74143,28517,2,1
56043,2,Road Bikes,1,Bikes,606,BK-R19B-52,"Road-750 Black, 52",Road-750,Entry level adult bike; offers a comfortable r...,Black,...,10,United Kingdom,United Kingdom,Europe,2017-06-30,2004-04-08,SO74143,28517,1,1
56044,37,Tires and Tubes,4,Accessories,480,PK-7098,Patch Kit/8 Patches,Patch kit,"Includes 8 different size patches, glue and sa...",None,...,7,France,France,Europe,2017-06-30,2004-05-15,SO74124,21676,2,2
56045,37,Tires and Tubes,4,Accessories,538,TI-R092,LL Road Tire,LL Road Tire,Same great treads as more expensive tire with ...,None,...,7,France,France,Europe,2017-06-30,2004-05-04,SO74124,21676,1,2

In [11]:
print(just_sales.columns)

Index(['ProductSubcategoryKey', 'SubcategoryName', 'ProductCategoryKey',
       'CategoryName', 'ProductKey', 'ProductSKU', 'ProductName', 'ModelName',
       'ProductDescription', 'ProductColor', 'ProductSize', 'ProductStyle',
       'ProductCost', 'ProductPrice', 'SalesTerritoryKey', 'Region', 'Country',
       'Continent', 'OrderDate', 'StockDate', 'OrderNumber', 'CustomerKey',
       'OrderLineItem', 'OrderQuantity'],
      dtype='object')

In [12]:
just_sales.to_csv('all_data.csv')